@import url("https://fonts.googleapis.com/css?family=Nunito:600,700,800,900");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  border: none;
  background: none;
  -webkit-transition: all ease-in-out 200ms;
  transition: all ease-in-out 200ms;
}

li {
  list-style: none;
}

button {
  border-radius: 2px;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #33cc66;
  font-size: 18px;
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 14px;
  font-weight: 700;
  color: #333;
}

h1 {
  font-size: 48px;
}

h3 {
  font-size: 38px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 20px;
}

p {
  font-size: 18px;
  font-weight: 400;
}

section {
  padding: 20px;
}

html, body {
  width: 100%;
  height: 100%;
  position: relative;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  background-color: #fff;
  background-image: url("../imgs/5.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0vw -15vh;
}

header {
  width: 100%;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #fff;
  border-bottom: 1px solid #eee;
  position: fixed;
  z-index: 999;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

header .logoArea {
  width: 25%;
  height: 55px;
}

header nav {
  width: 55%;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header nav a {
  padding: 6px 18px;
  margin-right: 28px;
  color: #666;
}

header nav a:hover {
  color: #222;
}

header .signButtons {
  width: 20%;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .signButtons button {
  width: 30%;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .signButtons button:first-child {
  background: #33cc66;
  color: #fff;
  margin-right: 5px;
}

header .signButtons button:first-child:hover {
  background: #64d88b;
}

header .signButtons button:last-child {
  background: #000;
  color: #fff;
}

header .signButtons button:last-child:hover {
  background: gray;
}

section.hero {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.hero h1 {
  width: 80%;
  margin-bottom: 10px;
  color: #279b4e;
  font-size: 60px;
  text-align: center;
  line-height: 65px;
  font-weight: 900;
  font-family: sans-serif;
}

section.hero h4 {
  width: 60%;
  margin-bottom: 60px;
  color: #333;
  font-weight: 300;
  text-align: center;
}

section.hero span.cta {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.hero span.cta button {
  width: 280px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  background: #f5003d;
  color: #fff;
  font-size: 22px;
}

section.hero span.cta button:first-child {
  margin-right: 20px;
}

section.hero span.cta button:first-child:hover {
  background: #ff7094;
}

section.hero span.cta button:last-child {
  background: #000;
}

section.hero span.cta button:last-child:hover {
  background: #999999;
}

section.users {
  width: 100%;
  height: 90%;
  background: #fff;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.users h3 {
  width: 100%;
  text-align: center;
}

section.users .usersWrap {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

section.users .usersWrap .user {
  width: 46%;
  height: 450px;
  border: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.users .usersWrap .user img {
  width: 100%;
}

section.users .usersWrap .user h5 {
  width: 100%;
  height: 50px;
  border: 1px solid greenyellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=index.css.map */