@import url("https://fonts.googleapis.com/css?family=Nunito:600,700,800,900");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  border: none;
  background: none;
  -webkit-transition: all ease-in-out 200ms;
  transition: all ease-in-out 200ms;
}

li {
  list-style: none;
}

button {
  border-radius: 2px;
  outline: none;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #33cc66;
  font-size: 18px;
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 14px;
  font-weight: 700;
  color: #333;
}

h1 {
  font-size: 48px;
}

h3 {
  font-size: 38px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 20px;
}

p {
  font-size: 18px;
  font-weight: 400;
}

section {
  padding: 20px;
}

html {
  scroll-behavior: smooth;
}

html, body {
  width: 100%;
  height: 100%;
  position: relative;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  background-color: #fff;
  background-image: url("../imgs/bgScroll/4.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0vw -15vh;
}

header {
  width: 100%;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: rgba(255, 255, 255, 0.4);
  position: fixed;
  z-index: 999;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

header .logoArea {
  width: 25%;
  height: 55px;
}

header .mobileLogo {
  display: none;
}

header nav {
  width: 55%;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header nav a {
  padding: 6px 18px;
  margin-right: 28px;
  color: #666;
}

header nav a:hover {
  color: #222;
}

header .signButtons {
  width: 20%;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .signButtons button {
  width: 30%;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .signButtons button:first-child {
  background: #33cc66;
  color: #fff;
  margin-right: 5px;
}

header .signButtons button:first-child:hover {
  background: #64d88b;
}

header .signButtons button:last-child {
  background: #000;
  color: #fff;
}

header .signButtons button:last-child:hover {
  background: gray;
}

header .mobileNavToggle {
  display: none;
}

section.hero {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.hero h1 {
  width: 80%;
  margin-bottom: 10px;
  color: #279b4e;
  font-size: 60px;
  text-align: center;
  line-height: 65px;
  font-weight: 900;
  font-family: sans-serif;
}

section.hero h4 {
  width: 60%;
  margin-bottom: 60px;
  color: #333;
  font-weight: 300;
  text-align: center;
}

section.hero span.cta {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.hero span.cta button {
  width: 280px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  background: #f5003d;
  color: #fff;
  font-size: 22px;
}

section.hero span.cta button:first-child {
  margin-right: 20px;
}

section.hero span.cta button:first-child:hover {
  background: #ff7094;
}

section.hero span.cta button:last-child {
  background: #000;
}

section.hero span.cta button:last-child:hover {
  background: #999999;
}

section.users {
  width: 100%;
  height: 90%;
  background: #fff;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.users h3 {
  width: 100%;
  text-align: center;
}

section.users .usersWrap {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

section.users .usersWrap .user {
  width: 40%;
  height: 400px;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

section.users .usersWrap .user .img {
  width: 100%;
  height: 400px;
  border-radius: 12px;
}

section.users .usersWrap .user h5 {
  width: 100%;
  height: 50px;
  border-radius: 0 0 12px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #279b4e;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.users .usersWrap .institute .img {
  background: url("../imgs/users/graduateInverted.jpg") no-repeat;
  background-size: cover;
}

section.users .usersWrap .institute .graduateInverted {
  background: url("../imgs/users/graduate.jpg") no-repeat;
  background-size: cover;
}

section.users .usersWrap .employer .img {
  background: url("../imgs/users/employerInverted.jpg") no-repeat;
  background-size: cover;
}

section.users .usersWrap .employer .employerInverted {
  background: url("../imgs/users/employer.jpg") no-repeat;
  background-size: cover;
}

section.partners {
  width: 100%;
  height: 95%;
  padding: 0;
  background: url("../imgs/bg/partnersBG.png") no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}

section.partners .partnersContainers {
  width: 100%;
  height: 100%;
  padding: 40px;
  background: rgba(51, 204, 102, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.partners .partnersContainers h3 {
  width: 100%;
  text-align: center;
  color: #fff;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}

section.partners .partnersContainers .partnersWrap {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.partners .partnersContainers .partnersWrap ul {
  width: 100%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.partners .partnersContainers .partnersWrap li {
  width: auto;
  max-width: 250px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 30px;
}

section.partners .partnersContainers .partnersWrap li:last-child {
  margin-right: 0px;
}

section.partners .partnersContainers .partnersWrap li img {
  width: 150px;
  height: 150px;
  border: 2px dotted #fff;
  border-radius: 50%;
  padding: 10px;
  background: #fff;
  border: 6px solid #eee;
  margin-bottom: 6px;
}

section.partners .partnersContainers .partnersWrap li p {
  color: #333;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

section.partners .partnersContainers .partnersWrap li sub {
  color: #000;
}

section.partners .partnersContainers .partnersWrap .partnersCTA {
  width: 100%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.partners .partnersContainers .partnersWrap .partnersCTA button {
  width: 20%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 3px solid #fff;
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}

section.partners .partnersContainers .partnersWrap .partnersCTA button:hover {
  background: rgba(255, 255, 255, 0.4);
}

section.partners .partnersContainers .partnersWrap .partnersCTA button p {
  font-size: 22px;
  color: #fff;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}

section.howitworks {
  width: 100%;
  height: 95%;
  padding: 0;
  background: url("../imgs/bg/howitworks.png") no-repeat;
  background-size: 100%;
}

section.feedBack {
  width: 100%;
  height: 95%;
  padding: 0;
  background: url("../imgs/bg/contactBGred.png") no-repeat;
  background-size: 100%;
}

.feedbackContainers {
  width: 100%;
  height: 100%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(255, 51, 102, 0.9);
  background-size: cover;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}

.feedbackContainers h3 {
  width: 100%;
  text-align: center;
  color: #fff;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
  margin-top: 35px;
}

.feedbackWrap {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 25px 25px 25px 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedbackWrap form {
  width: 50%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feedbackWrap form li {
  widows: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 8px;
}

.feedbackWrap form li input {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  width: 100%;
  height: 100%;
  font-size: 16px;
  outline: none;
  text-align: center;
}

.feedbackWrap form li input::-webkit-input-placeholder {
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.feedbackWrap form li input:-ms-input-placeholder {
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.feedbackWrap form li input::-ms-input-placeholder {
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.feedbackWrap form li input::placeholder {
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.feedbackWrap form li:first-child input {
  width: 48%;
}

.feedbackWrap form li:nth-child(3) {
  height: 50%;
}

.feedbackWrap form li:nth-child(3) textarea {
  width: 100%;
  min-width: 100%;
  height: 100%;
  max-height: 100%;
  min-height: 100%;
  background: transparent;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 2px;
  outline: none;
  color: #fff;
  font-size: 18px;
  padding: 8px;
}

.feedbackWrap form li:nth-child(3) textarea::-webkit-input-placeholder {
  color: #fff;
  font-size: 16px;
  text-align: left;
}

.feedbackWrap form li:nth-child(3) textarea:-ms-input-placeholder {
  color: #fff;
  font-size: 16px;
  text-align: left;
}

.feedbackWrap form li:nth-child(3) textarea::-ms-input-placeholder {
  color: #fff;
  font-size: 16px;
  text-align: left;
}

.feedbackWrap form li:nth-child(3) textarea::placeholder {
  color: #fff;
  font-size: 16px;
  text-align: left;
}

.feedbackWrap form li:last-child {
  margin-bottom: 0;
}

.feedbackWrap form li:last-child button {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  background: #fff;
  color: #ff3366;
  font-size: 18px;
}

.feedbackWrap form li:last-child button:hover {
  background: #f5003d;
  color: #fff;
}

.feedbackWrap span {
  display: block;
  width: 35%;
  height: 90%;
}

.feedbackWrap span ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feedbackWrap span ul li {
  width: 100%;
  height: 50px;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.feedbackWrap span ul li i {
  display: block;
  min-width: 50px;
  font-size: 32px;
  color: #fff;
  margin-right: 16px;
  text-align: center;
}

.feedbackWrap span ul li p {
  font-size: 20px;
  color: #fff;
  text-align: left;
}

section.aboutUsHeading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60%;
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 40px;
}

section.aboutUsHeading h1 {
  font-family: sans-serif;
  font-size: 70px;
  color: #ff3366;
}

section.aboutUsContent {
  width: 100%;
  height: 70%;
  background: #fff;
  padding: 5% 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.aboutUsContent p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 22px;
  color: #999;
  line-height: 36px;
  text-align: justify;
  padding: 20px;
}

section.aboutUsContent img {
  width: 40%;
}

section.AboutMissionVision {
  width: 100%;
  height: 70%;
  background: #33cc66;
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.AboutMissionVision .statement {
  width: 48%;
  height: 100%;
}

section.AboutMissionVision .statement h2 {
  color: #fff;
  font-size: 48px;
  text-align: center;
}

section.AboutMissionVision .statement p {
  color: #fff;
  font-size: 22px;
  text-align: justify;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0 0px;
}

section.AboutMissionVision .statement i {
  font-size: 32px;
  color: #279b4e;
}

section.AboutTeam {
  width: 100%;
  height: 100%;
  background: #fafafa;
  padding: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

section.AboutTeam h2 {
  width: 100%;
  height: 15%;
  color: #ff3366;
  font-size: 48px;
  text-align: center;
  margin: 0 0 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.AboutTeam .teamWrap {
  height: 70%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  -webkit-box-sizing: content-box !important;
          box-sizing: content-box !important;
}

section.AboutTeam .teamWrap .teamContain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  padding: 8.5px 0 8.5px 0;
  -webkit-box-sizing: content-box !important;
          box-sizing: content-box !important;
}

section.AboutTeam .teamWrap .teamContain .card {
  width: 100px;
  min-width: 250px;
  height: 80%;
  margin-right: 20px;
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.AboutTeam .teamWrap .teamContain .card .passport {
  width: 210px;
  height: 210px;
  margin: 0 0 5% 0;
  border-radius: 50%;
  border: 6px solid #c6f1d4;
}

section.AboutTeam .teamWrap .teamContain .card .passport img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

section.AboutTeam .teamWrap .teamContain .card p {
  width: 100%;
  text-align: center;
}

section.AboutTeam .teamWrap .teamContain .card h3 {
  width: 100%;
  text-align: center;
  font-size: 32px;
}

section.AboutTeam .teamWrap .teamContain .card .socialHandles {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.AboutTeam .teamWrap .teamContain .card .socialHandles i {
  margin: 0 6px;
  font-size: 24px;
  color: #33cc66;
}

section.AboutTeam .teamWrap .teamContain .card .socialHandles i:hover {
  cursor: pointer;
  color: #ff3366;
}

section.faqsWrap {
  width: 100%;
  min-height: 80%;
  background: #fafafa url("../imgs/bg/faqBG.png") no-repeat;
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4%;
}

section.faqsWrap h4 {
  width: 100%;
  margin-bottom: 20px;
}

section.faqsWrap ul {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.faqsWrap ul li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

section.faqsWrap ul li .faqTitle {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  background: #fafafa;
}

section.faqsWrap ul li .faqTitle button {
  background: #fff;
  padding: 8px 10px;
  color: #33cc66;
}

section.faqsWrap ul li .faqBody {
  width: 100%;
  padding: 0px;
  background: #fff;
  height: auto;
  overflow: hidden;
}

section.faqsWrap ul li .faqBody .answr {
  font-size: 18px;
  font-weight: bold;
  padding: 20px 20px 0 20px;
  color: #ff3366;
}

section.faqsWrap ul li .faqBody p {
  font-size: 16px;
  color: #666;
  text-align: justify;
  padding: 0px 20px 20px 20px;
}

section.footer {
  width: 100%;
  height: 25%;
  padding: 0;
  background: url("../imgs/bg/footerBG.png") no-repeat;
  background-size: 100%;
}

.footerWrap {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(255, 255, 255, 0.9);
  background-size: cover;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}

.footerWrap .top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footerWrap .top .links {
  width: 45%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footerWrap .top .links a {
  background: #ff3366;
  padding: 8px 16px;
  margin-left: 14px;
  color: #fff;
  border-radius: 2px;
  font-size: 14px;
}

.footerWrap .top .links a:hover {
  background: #fff;
  color: #ff3366;
}

.footerWrap .top .socialIcons {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footerWrap .top .socialIcons .social {
  font-size: 26px;
  margin-right: 18px;
  color: #ff3366;
}

.footerWrap .mid {
  width: 100%;
  height: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-self: flex-end;
  margin-top: auto;
}

.footerWrap .mid .subscribe {
  width: 55%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footerWrap .mid .subscribe p {
  font-size: 18px;
}

.footerWrap .mid .subscribe form {
  width: 60%;
  height: 100%;
  border: 2px solid #33cc66;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footerWrap .mid .subscribe form input {
  width: 70%;
  height: 100%;
  padding: 0 12px;
  outline: none;
}

.footerWrap .mid .subscribe form input::-webkit-input-placeholder {
  color: #999;
  font-size: 14px;
}

.footerWrap .mid .subscribe form input:-ms-input-placeholder {
  color: #999;
  font-size: 14px;
}

.footerWrap .mid .subscribe form input::-ms-input-placeholder {
  color: #999;
  font-size: 14px;
}

.footerWrap .mid .subscribe form input::placeholder {
  color: #999;
  font-size: 14px;
}

.footerWrap .mid .subscribe form button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #33cc66;
  border-radius: 0;
}

.footerWrap .mid .subscribe form button i {
  color: #fff;
  font-size: 18px;
  margin-right: 8px;
}

.footerWrap .mid .subscribe form button p {
  color: #fff;
  font-size: 16px;
}

.footerWrap .mid .copyRight {
  width: 30%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footerWrap .mid .copyRight p {
  color: #666;
  font-size: 14px;
}

.popupWrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: url("../imgs/bg/littleGirl.jpg") no-repeat;
  background-size: 100%;
  background-position-y: -200px;
  display: none;
}

.popupWrapper .popupContainer {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(51, 204, 102, 0.8);
}

.popupWrapper .loginBox {
  margin-top: -95%;
  width: 80%;
  height: 85%;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 12px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  display: none;
  position: relative;
}

.popupWrapper .loginBox .closeToggle {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 26px;
  color: black;
  padding: 0 5px;
}

.popupWrapper .loginBox .closeToggle:hover {
  cursor: pointer;
  color: red;
}

.popupWrapper .loginBox .infoLeft {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: url("../imgs/bg/girlWriting.jpg") no-repeat;
  background-size: auto 100%;
  border-radius: 12px 0 0 12px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popupWrapper .loginBox .infoLeft img {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 12px 12px 12px 0;
}

.popupWrapper .loginBox .infoLeft h2 {
  width: 100%;
  margin-top: 15%;
  font-size: 55px;
  color: #fff;
  font-family: sans-serif;
  text-align: center;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
}

.popupWrapper .loginBox .formRight {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popupWrapper .loginBox .formRight form {
  background: rgba(255, 255, 255, 0.1);
  padding: 12px 18px;
  width: 75%;
  height: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popupWrapper .loginBox .formRight form li {
  width: 90%;
  min-height: 8%;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popupWrapper .loginBox .formRight form li:first-child {
  margin-bottom: 98px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popupWrapper .loginBox .formRight form li:first-child h3 {
  color: #ff3366;
}

.popupWrapper .loginBox .formRight form li:nth-child(2), .popupWrapper .loginBox .formRight form li:nth-child(3) {
  margin-bottom: 36px;
  position: relative;
  height: 12%;
  border-bottom: 2px solid #ff3366;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popupWrapper .loginBox .formRight form li:nth-child(2) label, .popupWrapper .loginBox .formRight form li:nth-child(3) label {
  position: absolute;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popupWrapper .loginBox .formRight form li:nth-child(2) input, .popupWrapper .loginBox .formRight form li:nth-child(3) input {
  z-index: 2;
  width: 90%;
  height: 100%;
  outline: none;
  font-size: 16px;
}

.popupWrapper .loginBox .formRight form li:nth-child(2) i, .popupWrapper .loginBox .formRight form li:nth-child(3) i {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: block;
  text-align: center;
  font-size: 22px;
}

.popupWrapper .loginBox .formRight form li:nth-child(4), .popupWrapper .loginBox .formRight form li:nth-child(5) {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20% !important;
}

.popupWrapper .loginBox .formRight form li:nth-child(4) button, .popupWrapper .loginBox .formRight form li:nth-child(5) button {
  display: block;
  width: 60%;
  height: 100%;
  outline: none;
}

.popupWrapper .loginBox .formRight form li:nth-child(4) button:first-child, .popupWrapper .loginBox .formRight form li:nth-child(5) button:first-child {
  background: #ff3366;
  color: #fff;
  font-size: 16px;
}

.popupWrapper .loginBox .formRight form li:nth-child(5) button:first-child {
  background: transparent;
  color: #ff3366;
  border: 2px solid #ff3366;
}

.popupWrapper .loginBox .formRight form li:last-child {
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popupWrapper .loginBox .formRight form li:last-child a {
  text-align: center;
  font-size: 14px;
  color: #ff3366;
}

.popupWrapper .signupBox {
  margin-top: -95%;
  width: 80%;
  height: 85%;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 12px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  display: none;
  position: relative;
}

.popupWrapper .signupBox .closeToggle {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 26px;
  color: black;
  padding: 0 5px;
}

.popupWrapper .signupBox .closeToggle:hover {
  cursor: pointer;
  color: red;
}

.popupWrapper .signupBox .infoLeft {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: url("../imgs/bg/signupBg1.jpg") no-repeat;
  background-size: auto 100%;
  border-radius: 12px 0 0 12px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5% 6% 5% 2% !important;
}

.popupWrapper .signupBox .infoLeft img {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 12px 12px 12px 0;
}

.popupWrapper .signupBox .infoLeft h2 {
  width: 100%;
  margin-top: 15%;
  font-size: 55px;
  color: #fff;
  font-family: sans-serif;
  text-align: center;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
}

.popupWrapper .signupBox .formRight {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.1);
}

.popupWrapper .signupBox .formRight form {
  background: rgba(255, 255, 255, 0);
  padding: 12px 18px;
  width: 75%;
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popupWrapper .signupBox .formRight form li {
  width: 90%;
  min-height: 8%;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popupWrapper .signupBox .formRight form li:first-child {
  margin-bottom: 70px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popupWrapper .signupBox .formRight form li:first-child h3 {
  color: #ff3366;
}

.popupWrapper .signupBox .formRight form li:nth-child(2), .popupWrapper .signupBox .formRight form li:nth-child(3), .popupWrapper .signupBox .formRight form li:nth-child(4), .popupWrapper .signupBox .formRight form li:nth-child(5) {
  margin-bottom: 36px;
  position: relative;
  height: 12%;
  border-bottom: 2px solid #ff3366;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popupWrapper .signupBox .formRight form li:nth-child(2) label, .popupWrapper .signupBox .formRight form li:nth-child(3) label, .popupWrapper .signupBox .formRight form li:nth-child(4) label, .popupWrapper .signupBox .formRight form li:nth-child(5) label {
  position: absolute;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popupWrapper .signupBox .formRight form li:nth-child(2) input, .popupWrapper .signupBox .formRight form li:nth-child(3) input, .popupWrapper .signupBox .formRight form li:nth-child(4) input, .popupWrapper .signupBox .formRight form li:nth-child(5) input {
  z-index: 2;
  width: 90%;
  height: 100%;
  outline: none;
  font-size: 16px;
}

.popupWrapper .signupBox .formRight form li:nth-child(2) i, .popupWrapper .signupBox .formRight form li:nth-child(3) i, .popupWrapper .signupBox .formRight form li:nth-child(4) i, .popupWrapper .signupBox .formRight form li:nth-child(5) i {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: block;
  text-align: center;
  font-size: 22px;
}

.popupWrapper .signupBox .formRight form li:nth-child(6), .popupWrapper .signupBox .formRight form li:nth-child(7) {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20% !important;
}

.popupWrapper .signupBox .formRight form li:nth-child(6) button, .popupWrapper .signupBox .formRight form li:nth-child(7) button {
  display: block;
  width: 60%;
  height: 100%;
  outline: none;
}

.popupWrapper .signupBox .formRight form li:nth-child(6) button:first-child, .popupWrapper .signupBox .formRight form li:nth-child(7) button:first-child {
  background: #ff3366;
  color: #fff;
  font-size: 16px;
}

.popupWrapper .signupBox .formRight form li:nth-child(7) button:first-child {
  background: transparent;
  color: #ff3366;
  border: 2px solid #ff3366;
}

@media only screen and (max-width: 600px) {
  section {
    padding: 0;
  }
  header {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .logoArea {
    width: auto;
  }
  header .logoArea img {
    width: auto;
    display: none;
  }
  header .logoArea .mobileLogo {
    display: block;
  }
  header nav {
    display: none;
  }
  header .signButtons {
    display: none;
  }
  header .mobileNavToggle {
    width: 65px;
    height: 55px;
    background: #ff3366;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .mobileNavToggle i {
    font-size: 30px;
    color: #fff;
  }
  .wrapper {
    width: 100%;
    height: 100%;
    background-size: auto 100%;
    background-position-x: 50%;
  }
  .hero {
    background: rgba(255, 255, 255, 0.7) !important;
  }
  .hero h1 {
    width: 100% !important;
    font-size: 40px !important;
    text-align: center;
    line-height: 40px !important;
  }
  .hero h4 {
    width: 90% !important;
    margin-bottom: 10px;
    font-size: 20px !important;
    text-align: center;
    font-weight: 400;
  }
  .hero .cta {
    width: 60% !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero .cta button {
    margin: 0 0 8px 0 !important;
    padding: 0 !important;
    height: 50px !important;
    width: 100% !important;
    font-size: 18px !important;
  }
  .hero .cta button:last-child {
    margin: 0 !important;
  }
  .users {
    width: 100% !important;
    height: auto !important;
  }
  .users h3 {
    font-size: 38px;
    padding: 12px 0;
    margin-bottom: 6px;
  }
  .users .usersWrap {
    height: auto !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .users .usersWrap .user {
    width: 90% !important;
    height: 250px !important;
    border-radius: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    cursor: pointer;
    margin-bottom: 40px;
  }
  .partners {
    width: 100%;
    height: 95%;
    background-size: contain !important;
    background-position-y: bottom !important;
  }
  .partners .partnersContainers {
    width: 100%;
    height: 100%;
    padding: 10px 10px 40px 10px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
  .partners .partnersContainers h3 {
    font-size: 38px !important;
    padding: 12px 0;
    margin-bottom: 6px;
    width: 90%;
  }
  .partners .partnersContainers .partnersWrap {
    width: 100% !important;
    height: 350px !important;
    display: block !important;
    -webkit-box-sizing: content-box !important;
            box-sizing: content-box !important;
    overflow: hidden;
  }
  .partners .partnersContainers .partnersWrap ul {
    margin-top: 0px;
    height: 370px !important;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-box-sizing: content-box !important;
            box-sizing: content-box !important;
  }
  .partners .partnersContainers .partnersCTA {
    width: 100%;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .partners .partnersContainers .partnersCTA button {
    height: 100%;
    padding: 0 20px;
    border: 2px solid #fff;
  }
  .partners .partnersContainers .partnersCTA button p {
    color: #fff;
  }
  .partners .partnersContainers .partnersCTA button:hover {
    background: rgba(255, 255, 255, 0.4);
  }
  .feedBack {
    overflow: hidden;
    height: auto !important;
    background-size: auto 80% !important;
    background-position-x: 6% !important;
  }
  .feedBack .feedbackContainers {
    width: 100%;
    height: auto !important;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .feedBack .feedbackContainers .feedbackWrap {
    width: 100%;
    height: auto !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .feedBack .feedbackContainers .feedbackWrap form {
    width: 100% !important;
    height: auto !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 30px;
  }
  .feedBack .feedbackContainers .feedbackWrap form li {
    height: 50px;
  }
  .feedBack .feedbackContainers .feedbackWrap form li:first-child {
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .feedBack .feedbackContainers .feedbackWrap form li:first-child input {
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    width: 100%;
    height: 45%;
    font-size: 16px;
    outline: none;
    text-align: center;
    margin: 0px !important;
  }
  .feedBack .feedbackContainers .feedbackWrap form li:first-child input:first-child {
    margin-bottom: 8px !important;
  }
  .feedBack .feedbackContainers .feedbackWrap span {
    width: 100%;
    height: auto !important;
    padding: 50px 0;
  }
  .feedBack .feedbackContainers .feedbackWrap span ul li {
    width: 100%;
    height: 50px;
    text-align: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 4px;
  }
  .feedBack .feedbackContainers .feedbackWrap span ul li i {
    font-size: 22px;
  }
  .feedBack .feedbackContainers .feedbackWrap span ul li p {
    font-size: 18px;
  }
  .footer {
    width: 100%;
    height: auto !important;
    padding: 0;
    background: url("../imgs/bg/footerBG.png") no-repeat;
    background-size: auto auto;
    background-size: 100%;
  }
  .footer .footerWrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-size: auto 50% !important;
    background-position-y: bottom !important;
  }
  .footer .footerWrap .top .links {
    display: none;
  }
  .footer .footerWrap .top .socialIcons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .footerWrap .mid {
    height: auto !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
  }
  .footer .footerWrap .mid .subscribe {
    width: 100%;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footerWrap .mid .subscribe p {
    font-size: 16px;
    padding: 6px;
  }
  .footer .footerWrap .mid .subscribe form {
    width: 100%;
    height: 100%;
    border-width: 1px;
    margin-left: 0px;
  }
  .footer .footerWrap .mid .subscribe form input {
    width: auto !important;
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 !important;
            flex: 1 !important;
    height: auto !important;
  }
  .footer .footerWrap .mid .subscribe form button {
    width: 50px !important;
    height: 45px !important;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
  .footer .footerWrap .mid .subscribe form button p {
    display: none;
    margin: 0;
  }
  .footer .footerWrap .mid .subscribe form button i {
    font-size: 32px;
    margin: 0;
  }
  .footer .footerWrap .mid .copyRight {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 40px;
  }
  .footer .footerWrap .mid .copyRight p {
    font-size: 15px;
    text-align: center;
  }
}
/*# sourceMappingURL=index.css.map */