{% include 'landing-header.html' %}
    <!-- Partners Area -->
    <section class="feedBack">
        <div class="feedbackContainers">
        <h3>Got questions or feedback?</h3>
        <div class="feedbackWrap">
          <form action="">
            <li>
              <input type="text" name="name" id="name" placeholder="Enter your fullname">
              <input type="email" name="email" id="email" placeholder="Enter your email address">
            </li>
            <li>
              <input type="text" name="title" id="title" placeholder="Subject of your message">
            </li>
            <li>
              <textarea name="message" id="message" cols="30" rows="10" placeholder="Message"></textarea>
            </li>
            <li>
              <button>Send feedback</button>
            </li>
          </form>
          <span>
            <ul>
              <li>
                <i class="fas fa-phone"></i>
                <p>+234 (80) 50811702</p>
              </li>
              <li>
                <i class="fas fa-phone"></i>
                <p>+234 (81) 34853543</p>
              </li>
              <li>
                <i class="fas fa-envelope"></i>
                <p>enquiry@verifyr.ng</p>
              </li>
              <li>
                <i class="fas fa-map-marker-alt" style="font-size: 40px;"></i>
                <p>Shop 6 Kaura Road, Off, Kinshasa Rd Kaduna State.</p>
              </li>
            </ul>
          </span>
        </div>

    </section>
    
    {% include 'landing-footer.html' %}