{% include 'landing-header.html' %}
  
<!-- About Us -->
  <section class="aboutUsHeading">
    <h1>FAQS</h1>
  </section>
  <section class="faqsWrap">
    <h4>FREQUENTLY ASKED QUESTIONS</h4>
    <ul>
      <li>
        <div class="faqTitle">
          <h5>What is verifyr?</h5>
          <button id="toogleFaq">
            SEE ANSWER
          </button>
        </div>
        <div class="faqBody">
          <div class="answr">Answer</div>
          <P>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis non velit quos magnam inventore? Libero blanditiis ducimus asperiores eius repellat voluptatibus ut necessitatibus aliquam incidunt!
          </P>
        </div>
      </li>
      <li>
        <div class="faqTitle">
          <h5>Who can use verifyr?</h5>
          <button id="toogleFaq">
            SEE ANSWER
          </button>
        </div>
        <div class="faqBody">
          <div class="answr">Answer</div>
          <P>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, fuga? Ratione, id porro, nulla in quod deserunt voluptas quia odit ipsam dolore exercitationem ut dolor inventore! Illum, beatae non? Natus exercitationem error et perspiciatis vero iste nostrum dignissimos itaque debitis maxime blanditiis, alias dolorum inventore mollitia numquam deserunt magnam incidunt amet fugiat similique! Maxime nobis dolores voluptatum consequatur, accusamus nostrum?
          </P>
        </div>
      </li>
      <li>
        <div class="faqTitle">
          <h5>Can an individual use verifyr?</h5>
          <button id="toogleFaq">
            SEE ANSWER
          </button>
        </div>
        <div class="faqBody">
          <div class="answr">Answer</div>
          <P>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis non velit quos magnam inventore? Libero blanditiis ducimus asperiores eius repellat voluptatibus ut necessitatibus aliquam incidunt!
          </P>
        </div>
      </li>
  
    </ul>
  </section>
    
    
    {% include 'landing-footer.html' %}