<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style/index.css">
  <script src="scripts/jquery-3.3.1.min.js"></script>
  <script src="scripts/fullclip.js"></script>
  <script src="scripts/app.js"></script>
  <title>Document Verification Software</title>
</head>
<body>
  <div class="wrapper">

    <!-- Header Area -->
    <header>
      <div class="logoArea">
        <img src="imgs/verifrLogo.png" alt="logo">
      </div>
      <nav>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">FAQs</a>
      </nav>
      <div class="signButtons">
          <button>Join</button>
          <button>Login</button>
      </div>
    </header>

    <!-- Hero Area -->
    <section class="hero">
      <h1>VERIFICATION PLATFORM</h1>
      <h4>With Verifyr online verification platform, you can validate the Authenticity of a Document in few clicks</h4>
      <span class="cta">
        <button>See how it works</button>
        <button>Register today</button>
      </span>
    </section>

    <!-- Users Area -->
    <section class="users">
      <h3>Who can use Verifyr?</h3>
      <div class="usersWrap">
        <div class="user institute">
          <img src="imgs/graduate.jpg" alt="#">
          <h5>Certification Institution</h5>
        </div>
        <div class="user employer">
          <img src="imgs/O6JTUC0.jpg" alt="#">
          <h5>Job Employers</h5>
        </div>
      </div>
    </section>

  </div>

</body>
</html>