{% include 'landing-header.html' %}

    <!-- Hero Area -->
    <section class="hero">
      <h1>VERIFICATION PLATFORM</h1>
      <h4>With Verifyr online verification platform, you can validate the Authenticity of a Document using our digital stamp.</h4>
      <span class="cta">
        <button>See how it works</button>
        <button type="button" class="signupButton">Register with us</button>
      </span>
    </section>

    <!-- Users Area -->
    <section class="users">
      <h3>Who can use Verifyr?</h3>
      <div class="usersWrap">
        <div class="user institute">
          <div class="img"></div>
          <h5>Certification Institutions</h5>
        </div>
        <div class="user employer">
          <div class="img"></div>
          <h5>Job Employers</h5>
        </div>
      </div>
    </section>

    <!-- Partners Area -->
    <section class="partners">
      <div class="partnersContainers">
        <h3>Institutions we work with</h3>
        <div class="partnersWrap">
          <ul>
            <li>
              <img src="{{url_for('static', filename='imgs/partners/abu.png')}}" alt="#">
              <p>ABU Zaria</p>
              <sub>Tertiary Institution</sub>
            </li>
            <li>
              <img src="{{url_for('static', filename='imgs/partners/buk-logo.jpg')}}" alt="#">
              <p>Bayero University Kano</p>
              <sub>Tertiary Institution</sub>
            </li>
            <li>
              <img src="{{url_for('static', filename='imgs/partners/zik.png')}}" alt="#">
              <p>Nnamdi Azikiwe University</p>
              <sub>Tertiary Institution</sub>
            </li>
            <li>
              <img src="{{url_for('static', filename='imgs/partners/command.jpg')}}" alt="#">
              <p>Command School Abuja</p>
              <sub>Secondary School</sub>
            </li>
            <li>
                <img src="{{url_for('static', filename='imgs/partners/port.jpg')}}" alt="#">
                <p>University of Portharcourt</p>
                <sub>Tertiary Institution</sub>
              </li>
          </ul>
        </div>
        <div class="partnersCTA">
          <button type="button" class="signupButton">
            <p>Join the Platform</p>
          </button>
        </div> 
      </div>
    </section>
    <!-- Partners Area -->
    <!-- <section class="howitworks">
    </section> -->
    <!-- Partners Area -->
    <section class="feedBack">
      <div class="feedbackContainers">
        <h3>Got questions or feedback?</h3>
        <div class="feedbackWrap">
          <form action="">
            <li>
              <input type="text" name="name" id="name" placeholder="Enter your fullname">
              <input type="email" name="email" id="email" placeholder="Enter your email address">
            </li>
            <li>
              <input type="text" name="title" id="title" placeholder="Subject of your message">
            </li>
            <li>
              <textarea name="message" id="message" cols="30" rows="10" placeholder="Message"></textarea>
            </li>
            <li>
              <button>Send feedback</button>
            </li>
          </form>
          <span>
            <ul>
              <li>
                <i class="fas fa-phone"></i>
                <p>+234 (80) 50811702</p>
              </li>
              <li>
                <i class="fas fa-phone"></i>
                <p>+234 (81) 34853543</p>
              </li>
              <li>
                <i class="fas fa-envelope"></i>
                <p>enquiry@verifyr.ng</p>
              </li>
              <li>
                <i class="fas fa-map-marker-alt"></i>
                <p>Shop 6 Kaura Road, Off, Kinshasa Rd Kaduna State.</p>
              </li>
            </ul>
          </span>
        </div>
      </div>
    </section>


{% include 'landing-footer.html' %}
<script>
  // HERO BACKGROUND IMAGE SCROLL
  $('.wrapper').fullClip({
    images: ['/static/imgs/bgScroll/2.jpg', '/static/imgs/bgScroll/3.jpg', '/static/imgs/bgScroll/4.jpg', '/static/imgs/bgScroll/1.jpg'],
    transitionTime: 2000,
    wait: 5000
  });
</script>
    