<!-- Footer Area -->
<section class="footer">
    <div class="footerWrap">
      <div class="top">
        <div class="links">
          <a href="">Home</a>
          <a href="">About</a>
          <a href="">Faqs</a>
          <a href="">Our Partners</a>
          <a href="">How it works</a>
        </div>
        <div class="socialIcons">
          <div class="social whatsapp">
            <i class="fab fa-whatsapp"></i>
          </div>
          <div class="social twitter">
            <i class="fab fa-twitter"></i>
          </div>
          <div class="social facebook">
            <i class="fab fa-facebook-f"></i>
          </div>
          <div class="social google">
          <i class="fab fa-google-plus-g"></i>
          </div>
        </div>
      </div>
      <div class="mid">
        <div class="subscribe">
          <p>Subscribe to our newsletter</p>
          <form action="#" method="post">
            <input type="email" name="email" id="email" placeholder="Enter your email address">
            <button>
                <i class="fas fa-chevron-circle-right"></i>
              <p>SUBMIT</p>
            </button>
          </form>
        </div>
        <div class="copyRight">
            <p>&copy; 2018 Verifyr - Document Verification System</p>
          </div>
      </div>
      
</section>

<div class="popupWrapper">
  <div class="popupContainer">
    <div class="loginBox">
      <div class="closeToggle">&times;</div>
      <div class="infoLeft">
        <img src="{{url_for('static', filename='imgs/logo/verifrLogo.png')}}" alt="logo">
      </div>
      <div class="formRight">
        <form action="">
          <li>
            <h3>Log In</h3>
            <sub>Enter your login details</sub>
          </li>
          <li>
            <label for="email">Your Email</label>
            <input type="email" name="email" id="email">
            <i class="fas fa-envelope"></i>
          </li>
          <li>
            <label for="password">Your Password</label>
            <input type="password" name="password" id="password">
            <i class="fas fa-lock"></i>
          </li>
          <li>
            <button>Log In</button>
          </li>
          <li>
            <button>Sign Up</button>
          </li>
          <li>
            <a href="#">Forgot your password?</a>
          </li>
        </form>
      </div>
    </div>
  </div>
</div>

</div>
<script src="{{url_for('static', filename='scripts/jquery-3.3.1.min.js')}}"></script>
<script src="{{url_for('static', filename='scripts/fullclip.js')}}"></script>
<script src="{{url_for('static', filename='scripts/app.js')}}"></script>
</body>
</html>