<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{url_for('static', filename='style/index.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='style/fonts/font-awesome/css/all.css')}}">
  <title>Document Verification Software</title>
</head>
<body>
  <div class="wrapper">

    <!-- Header Area -->
    <header id="header">
      <div class="logoArea">
        <img src="{{url_for('static', filename='imgs/logo/verifrLogo.png')}}" alt="logo">
        <img src="{{url_for('static', filename='imgs/logo/verifrLogoMobile.png')}}" alt="logo" class="mobileLogo">
      </div>
      <nav>
        <a href="/">Home</a>
        <a href="/about-us">About</a>
        <a href="/faqs">FAQs</a>
      </nav>
      <div class="signButtons">
          <button class="signupButton">Join</button>
          <button class="loginButton">Login</button>
      </div>
      <div class="mobileNavToggle">
        <i class="fas fa-bars"></i>
      </div>
  
    </header>
    <div class="mobileNav">
        <ul>
          <a href="/">
            <i class="fas fa-home"></i>
            <p>Home</p>
          </a>
          <a href="/about-us">
            <i class="fas fa-info-circle"></i>
            <p>About</p>
          </a>
          <a href="/faqs" style="margin-bottom:20px;">
            <i class="fas fa-question-circle"></i>
            <p>FAQs</p>
          </a>
          <button class="signupButton"><p>Join</p></button>
          <button class="loginButton"><p>Login</p></button>
        </ul>
    </div>